doctype html
html(lang="cn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Homepage
    link(href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/static/stylesheets/dashboard.css" rel="stylesheet")
    script(src="https://www.google.com/jsapi")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js")
  body(data-spy="scroll" data-target=".nav-spy")
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Lose your money
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-left
            li
              a(href="#") Dashboard
            li
              a(href="#") About
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar.nav-spy
          ul.nav.nav-sidebar
            li
              a(href="#trade-target-anchor") 交易标的
              ul.nav.nav-sidebar
                li
                  a(href="#trade-target-desc-1-anchor") Desc 1
                li
                  a(href="#trade-target-desc-2-anchor") Desc 2
            li
              a(href="#open-strategy-anchor") 开仓策略
            li
              a(href="#close-strategy-anchor") 平仓策略
          a(href="#") Back to top
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header 定制策略
          .alert.alert-danger#alert(style="display:none")
          h2 交易标的
          .anchor#trade-target-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="trade-target") 标的选择
              .col-sm-4
                select.form-control#trade-target
                  option 股指期货
          .anchor#trade-target-desc-1-anchor
          div(style="height: 500px;") asdf
          .anchor#trade-target-desc-2-anchor
          div(style="height: 300px;") Lorem
          h2 开仓策略
          .anchor#open-strategy-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="open-strategy") 策略选择
              .col-sm-4
                select.form-control#open-strategy
                  option 最大最小法
            .form-group
              label.col-sm-2.control-label(for="rollback") 向前递延周期数
              .col-sm-4
                input.form-control(type="number" id="rollback" placeholder="向前递延周期数")
            .form-group
              label.col-sm-2.control-label(for="cutoff") 截断周期数
              .col-sm-4
                input.form-control(type="number" id="cutoff" placeholder="截断周期数")
          div(style="height: 500px;")
          h2 平仓策略
          .anchor#close-strategy-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="close-strategy") 策略选择
              .col-sm-4
                select.form-control#close-strategy
                  option SAR头寸跟踪法
            .form-group
              label.col-sm-2.control-label(for="step-size") 步长
              .col-sm-4
                input.form-control(type="number" id="step-size" placeholder="步长")
            .form-group
              label.col-sm-2.control-label(for="max-af") 最大加速因子
              .col-sm-4
                input.form-control(type="number" id="max-af" placeholder="最大加速因子")
          div(style="height: 500px;")
          hr
          .row
            button.btn.btn-default.col-sm-12#get-strategy-result 开始模拟
          h1.page-header 模拟结果
          #chart-div
    script(src="/static/javascripts/client-process.js")
