<html>
<head>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript">

var a;
$.get('/static/table', function(data) {
  var list = [];
  var raw = data.split('\n');
  for (var i = 0; i < raw.length - 1; ++i) {
    var tmp = raw[i].split(',');
    list.push([tmp[0], parseFloat(tmp[4])]);
  }
  list.push(['Time', 'Close']);
  list.reverse();
  a = list;
});

// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

  // Create the data table.
  var data = google.visualization.arrayToDataTable(a);

  // Set chart options
  var options = {
    'title':'How Much Shit I Ate Last Night',
    height: 500
  };

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
</script>
</head>

<body>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
</body>
</html>
