doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Homepage
    link(href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/static/stylesheets/dashboard.css" rel="stylesheet")
    // script(src="https://www.google.com/jsapi")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(defer src="/static/javascripts/client-process.js")
  body
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") Lose your money
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-left
            li
              a(href="#") Dashboard
            li
              a(href="#") About
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href="#") Overview
            li
              a(href="#") Analysis
            li
              a(href="#") Export
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header 定制策略
          h2 交易标的
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="trade_target") 标的选择
              .col-sm-4
                select.form-control#trade_target
                  option 股指期货
          h2 开仓策略
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="open_strategy") 策略选择
              .col-sm-4
                select.form-control#open_strategy
                  option 最大最小开仓
            .form-group
              label.col-sm-2.control-label(for="rollback") 向前递延周期数
              .col-sm-4
                input.form-control(type="number" id="rollback" placeholder="向前递延周期数")
            .form-group
              label.col-sm-2.control-label(for="cutoff") 阶段周期数
              .col-sm-4
                input.form-control(type="number" id="cutoff" placeholder="阶段周期数")
          h2
          button.btn.btn-default#getStrategyResult Go!
          #chart_div
