doctype html
html(lang="cn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ezHFTChina
    link(href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/static/stylesheets/dashboard.css" rel="stylesheet")
    script(src="https://www.google.com/jsapi")
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js")
  body(data-spy="scroll" data-target=".nav-spy")
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") ezHFTChina
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-left
            li
              a(href="#") Dashboard
            li
              a(href="#") About
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar.nav-spy
          ul.nav.nav-sidebar
            li.active
              a(href="#trade-target-anchor") Trading Target
            li
              a(href="#open-strategy-anchor") Opening
            li
              a(href="#close-strategy-anchor") Closing
            li
              a(href="#results-anchor") Results
              ul.nav.nav-sidebar
                li
                  a(href="#chart-anchor") Chart
                li
                  a(href="#indicators-anchor") Indicators
          a(href="#") Back to top
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Customize Strategy
          .alert.alert-danger#alert(style="display:none")
          h2 Trading Target
          .anchor#trade-target-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="trade-target") Select Target
              .col-sm-4
                select.form-control#trade-target
                  option CSI 300 Futures
          h2 Opening
          .anchor#open-strategy-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="open-strategy") Select Opening
              .col-sm-4
                select.form-control#open-strategy
                  option Extreme Breakthrough
            .form-group
              label.col-sm-2.control-label(for="rollback") Monitoring Cycles
              .col-sm-4
                input.form-control(type="number" id="rollback" placeholder="Monitoring Cycles")
            .form-group
              label.col-sm-2.control-label(for="cutoff") Cutting Cycles
              .col-sm-4
                input.form-control(type="number" id="cutoff" placeholder="Cutting Cycles")
          h2 Closing
          .anchor#close-strategy-anchor
          .form-horizontal
            .form-group
              label.col-sm-2.control-label(for="close-strategy") Select Closing
              .col-sm-4
                select.form-control#close-strategy
                  option SAR Position Tracking
            .form-group
              label.col-sm-2.control-label(for="step-size") Stepsize
              .col-sm-4
                input.form-control(type="number" id="step-size" placeholder="Stepsize")
            .form-group
              label.col-sm-2.control-label(for="max-af") Maximum Acceleration Factor
              .col-sm-4
                input.form-control(type="number" id="max-af" placeholder="Maximum Acceleration Factor")
          hr
          .row
            button.btn.btn-default.col-sm-12#get-strategy-result Start Simulating
          h1.page-header Results
          .anchor#results-anchor
          h2 Chart
          .anchor#chart-anchor
          #chart-div
          h2 Indicators
          .anchor#indicators-anchor
          .row
            .col-xs-8#indicators
              table.table.table-bordered
                thead
                  tr
                    th Indicator
                    th Value
                tbody
                  tr
                    th Max Drawback
                    th#max-drawback 0
    script(src="/static/javascripts/client-process.js")
